*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgb(17, 14, 20);
    min-height: 100vh;
    height: 10000000px;
    scroll-behavior: smooth; /* Enable smooth scrolling */
}

/* LATERAL MENU SECTIONS */
#lateral-menu {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 25px;
    height: 100vh;
    background-color: black;
    transition: width 0.3s; /* Transition for width change */
}

#lateral-menu button {
    background-color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 30px;
    height: 50px;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: larger;
    transition: transform 0.3s; /* Transition for transform change */
}
#lateral-menu.active {
    width: 200px; /* Adjust expanded width as needed */
    z-index: 100;
    pointer-events: auto;
}
#lateral-menu.active button {
    transform: translateX(180px);
}

#nav-menu {
    display: grid;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#nav-menu.active {
    opacity: 1; /* Set opacity to 1 when active */
}
#nav-menu ul {
    overflow: hidden;
    list-style: none;
}
#nav-menu ul li {
    padding: 10px;
}

#nav-menu ul li a {
    text-decoration: none;
    color: white;
}

/* CONTAINER SECTIONS */
#Home{
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: flex-start; /* Align items to the start of the flex container */
    align-items: flex-start; /* Align items to the start of the cross axis (top) */
}

#Home.active{
    position: static;
    z-index: -1;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.header h1 {
    color: white;
    font-size: 24px;
    padding-left: 3%;
}
.large-container {
    width: 90vw; 
    height: 35vh;
    margin-bottom: 0.5%;
    padding: 0px; /* Add padding to the container */
    background-color: rgba(255, 255, 255, 0); /* Semi-transparent white background */
    border-radius: 15px; /* Add rounded corners */
    text-align: center; /* Center the content inside the container */
}
.medium-container{
    width: 44vw; 
    height: 15vh;
    margin-bottom: 0.5%;
    margin-left: 2%;
    padding: 20px; /* Add padding to the container */
    background-color: rgba(255, 255, 255, 0.685); /* Semi-transparent white background */
    border-radius: 10px; /* Add rounded corners */
    text-align: center; /* Center the content inside the container */
}

.small-container {
    width: 21.5vw; 
    height: 10vh;
    margin-bottom: 0.5%;
    margin-left: 1%;
    padding: 20px; /* Add padding to the container */
    background-color: rgba(255, 255, 255, 0.685); /* Semi-transparent white background */
    border-radius: 10px; /* Add rounded corners */
    text-align: center; /* Center the content inside the container */
}
.large-container .slideshow {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;   
}

.large-container .slideshow img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and fill the container */
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -2;
    transition: opacity 0.5s ease-in-out; /* Add transition for opacity change */
}

.large-container .slideshow img.active {
    opacity: 1; /* Set opacity to 1 for active image */
    z-index: 1;
}

/* SLIDESHOW */

.slide img{
    border-radius: 5px;
}

.slide .custom-link {
    z-index: 1;
    position: absolute;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}
.custom-link.hidden{
    display: none;
}