<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Game Blog</title>
    <meta name="description" content="Blog dedicated to video game reviews.">
    <meta name="keywords" content="About, video games, game reviews, gaming news, game guides">
    <meta name="author" content="@Seej">

    <!-- WebIcon -->
    <link rel="icon" href="../ico/TitlePage.png" type="image/x-icon">

    <!-- CSS -->
    <link rel="stylesheet" href="../css/indexstyle.css">
    <link rel="stylesheet" href="../css/generalgenderstyle.css">
    <link rel="stylesheet" href="../css/aboutstyle.css">


    <!-- JS -->
    <script src="../js/index.js" defer></script>
</head>

<body>      
    <!-- LATERAL MENU -->
    <div id="lateral-menu" style="float: left; margin-right: 2vw;">        
        <button id="menu-toggle"><strong>></strong></button>
        <nav id="nav-menu">
            <p style="top:12px; left:5%; overflow: hidden; font-size: larger; position: absolute; color: white; pointer-events: none;">MENU</p>
            <ul id="nav-menu-list">
                <!-- LATERAL MENU NAV -->
                <li id="nav-menu-list"><a href="index.html">Home</a></li>
                <li id="nav-menu-list"><a href="#About">About</a></li>
            </ul>
        </nav>        
    </div> 
    
    <!-- THE INTRO -->
    <div id="About"></div>
    <div id="introduction" style="border-bottom: 1px solid white; padding-bottom: 1000px; padding: auto;">
            <h1 class="header">ABOUT PAGE</h1>
            <h2>Collaborators</h2>
            <div class="box">
                <h4>Simone Comin</h4>
                <div class="box-text">
                    <ul>
                        <li class="item-list">Git-Hub Repository</li>
                        <li class="item-list">Java Script</li>
                        <li class="item-list">Index Page</li>
                        <li class="item-list">Made General Templates</li>
                        <li class="item-list">Lateral Menu</li>
                        <li class="item-list">About Page</li>
                    </ul>
                </div>                
            </div>  
            <div class="box">
                <h4>Peter Dal Bello</h4>
                <div class="box-text">
                    <ul>
                        <li class="item-list">COD Page</li>
                        <li class="item-list">Adventure Page</li>
                        <li class="item-list">Open World Page</li>
                        <li class="item-list">Beat Em Up Page</li>
                        <li class="item-list">Console Page</li>
                        <li class="item-list">Image Grabber</li>
                    </ul>
                </div>                
            </div>  
            <div class="box">
                <h4>Luca Rovea</h4>
                <div class="box-text">
                    <ul>
                        <li class="item-list">GS3 Page</li>
                        <li class="item-list">Hollow Knight Page</li>
                        <li class="item-list">Security Breach Page</li>
                        <li class="item-list">Beat Em Up Page</li>
                        <li class="item-list">Group Coordinator</li>
                    </ul>
                </div>                
            </div>
            <div class="box" style="margin-left: 16%;">
                <h4>Ryan Reginato</h4>
                <div class="box-text">
                    <ul>
                        <li class="item-list">Chosen The Idea</li>                       
                    </ul>
                </div>                
            </div>
            <div class="box">
                <h4>Mattia Ragione</h4>
                <div class="box-text">
                    <ul>
                        <li class="item-list">FPS Page</li>                       
                    </ul>
                </div>                
            </div>
    </div>
</body>
</html>
    
