<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adventure Games</title>
    <meta name="description" content="Blog dedicato alle recensioni di videogiochi.">
    <meta name="keywords" content="Avventura, videogiochi, recensioni di giochi, notizie sui giochi, guide ai giochi">
    <meta name="author" content="@Seej">

    <!-- WebIcon -->
    <link rel="icon" href="../img/InitPages/ADVENTURE/pagina.jpg" type="image/x-icon">

    <!-- CSS -->
    <link rel="stylesheet" href="../css/indexstyle.css">
    <link rel="stylesheet" href="../css/generalgenderstyle.css">

    <!-- JS -->
    <script src="../js/index.js" defer></script>
</head>

<body>      
    <!-- LATERAL MENU -->
    <div id="lateral-menu" style="float: left; margin-right: 2vw;">        
        <button id="menu-toggle"><strong>></strong></button>
        <nav id="nav-menu">
            <p style="top:12px; left:5%; overflow: hidden; font-size: larger; position: absolute; color: white; pointer-events: none;">MENU</p>
            <ul id="nav-menu-list">
                <!-- LATERAL MENU NAV -->
                <li id="nav-menu-list"><a href="index.html">Home</a></li>
                <li id="nav-menu-list"><a href="#introduction">Introduction</a></li>
                <li id="nav-menu-list"><a href="#earlydays">Early Days</a></li>
                <li id="nav-menu-list"><a href="#riseadventure">The Rise of the Adventure Genre</a></li>
                <li id="nav-menu-list"><a href="#iconicgames">Adventure Time Line</a></li>
                <li id="nav-menu-list"><a href="#list">List Adventure Games</a></li>
                <li id="nav-menu-list"><a href="#About">About</a></li>
            </ul>
        </nav>        
    </div> 
    
    <!-- THE INTRO -->
    <div id="introduction" style="border-bottom: 1px solid white; padding-bottom: 320px;">
            <h1 class="header">Adventure Games</h1>
                <h2>Introduction</h2>
                <br><br>
                <img src="../img/InitPages/ADVENTURE/pagina.jpg" alt="Adventure Image" style="float: right; margin-left: 100px; margin-bottom: 15px; width: 250px; height: auto; border-radius: 10px;">
            <p>
                I giochi di avventura hanno affascinato a lungo i giocatori con la loro enfasi sulla narrazione, esplorazione e risoluzione di enigmi. 
                A differenza di altri generi, i giochi di avventura si concentrano sulle esperienze narrative, spesso presentando personaggi complessi e mondi immersivi. 
                Dai loro inizi, i giochi di avventura si sono evoluti e diversificati, offrendo ai giocatori una varietà di esperienze uniche e memorabili.
            </p>
    </div>

    <!-- THE EARLY DAYS -->
    <div id="earlydays" style="border-bottom: 1px solid white; padding-bottom: 320px;">
        <h1 class="header" style="margin-top: 70px;"></h1>
            <h2>The Early Days</h2>
            <br><br>

            <img src="../img/InitPages/ADVENTURE/002.jpg" alt="Adventure Image" style="float: right; margin-left: 20px; margin-bottom: 15px; width: 150px; height: auto; border-radius: 10px;">
    
            <!-- Second Image -->
            <img src="../img/InitPages/ADVENTURE/003.jpg" alt="Adventure Image" style="float: right; margin-left: 20px; margin-bottom: 15px; width: 150px; height: auto; border-radius: 10px;">
            
            <!-- Third Image -->
            <img src="../img/InitPages/ADVENTURE/004.jpg" alt="Adventure Image" style="float: right; margin-left: 20px; margin-bottom: 15px; width: 150px; height: auto; border-radius: 10px; margin-top: 11%; margin-right: -17%">
            
        <p style="width: auto;">
            Le origini dei giochi di avventura risalgono agli anni '70 e '80. Uno dei primi esempi è "Colossal Cave Adventure" (1976),
            sviluppato per i computer mainframe. In "Colossal Cave Adventure", i giocatori esploravano una caverna labirintica,
            risolvendo enigmi e raccogliendo tesori. Un altro titolo precoce era "Zork" (1980),
            un gioco testuale che introduceva un mondo ricco e interattivo.
            <br><br><br>
            Tuttavia, è solo negli anni '90 che i giochi di avventura hanno iniziato a guadagnare ampia popolarità.
            L'uscita di "Myst" nel 1993, sviluppato da Cyan Worlds, è spesso accreditata di aver popolarizzato il genere.
            "Myst" introdusse molti dei meccanismi di gioco che definiscono oggi i giochi di avventura, come la risoluzione di enigmi e la narrativa immersiva.
        </p>
        
    </div>

    <!-- THE RISE OF ADVENTURE-->
    <div id="risefps" style="border-bottom: 1px solid white; padding-bottom: 320px;">
        <h1 class="header" style="margin-top: 70px;"></h1>
            <h2>The Rise of the Adventure Genre</h2>
            <br><br>

            <img src="../img/InitPages/ADVENTURE/006.jpg" alt="Adventure Image" style="float: right; margin-left: 20px; margin-bottom: 15px; width: 250px; height: auto; border-radius: 10px;">
    
            <!-- Second Image -->
            <img src="../img/InitPages/ADVENTURE/005.jpg" alt="Adventure Image" style="float: right; margin-left: 20px; margin-bottom: 15px; width: 250px; height: auto; border-radius: 10px;">
            
        <p style="width: auto;">
            Dopo il successo di "Myst",
            Cyan Worlds rilasciò "Riven" nel 1997, che divenne un fenomeno culturale.
            "Riven" presentava grafica avanzata, gameplay immersivo,
            e capacità di narrazione che permettevano ai giocatori di esplorare e interagire con il mondo di gioco.
            Il successo del gioco aiutò a stabilire l'avventura come un genere importante nell'industria dei videogiochi.
            <br><br><br>
            Un'altra pietra miliare significativa fu l'uscita di "The Longest Journey" nel 1999,
            sviluppato da Funcom. "The Longest Journey" fu uno dei primi giochi di avventura a presentare ambienti e personaggi completamente 3D,
            nonché una narrazione complessa e coinvolgente. Il gameplay veloce e competitivo del gioco gettò le basi per la nascente scena degli eSports.
        </p>
        
    </div>

    <!-- THE ICONIC ADVENTURE GAMES OF 1990s - 2000s -->
    <div id="iconicgames" style="border-bottom: 1px solid white; padding-bottom: 320px;">
        <h1 class="header" style="margin-top: 70px;"></h1>
            <h2>The Adventure Time Line</h2>
            <br><br>

        <!-- Timeline Container -->
        <div class="timeline">
            <div class="timeline-item">
                <div class="timeline-content">
                    <h3>1993 - Myst</h3>
                    <p>Il gioco che ha popolarizzato il genere dell'avventura.</p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-content">
                    <h3>1997 - Riven</h3>
                    <p>Ha rivoluzionato la grafica e il gameplay immersivo.</p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-content">
                    <h3>1999 - The Longest Journey</h3>
                    <p>Uno dei migliori giochi di avventura con una narrazione complessa.</p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-content">
                    <h3>2005 - Shadow of the Colossus</h3>
                    <p>Ha impostato nuovi standard per la narrazione nei giochi di avventura.</p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-content">
                    <h3>2013 - The Last of Us</h3>
                    <p>Ha trasformato il modo di raccontare le storie nei giochi di avventura.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- THE LIST OF ADVENTURE GAMES -->
    <div id="list" style="border-bottom: 1px solid white; padding-bottom: 70px;">
        <h1 class="header" style="margin-top: 70px;"></h1>
            <h2>List of Adventure Games</h2>
            <br><br>
            <ul class="adventure-list">
                <a href="TombRider.html">                    
                    <li class="adventure-item">
                        <h3>[1] Tomb Rider(2013).</h3>
                        <p>Scopri il fantastico mondo di Tomb Rider(2013), uno dei giochi di avventura più popolari.</p>
                        <br>
                    </li>
                </a>
                <a href="Skyrim.html">
                    <li class="adventure-item">
                        <h3>[2] Skyrim.</h3>
                        <p>Scopri il fantastico mondo di Skyrim, uno dei giochi di avventura più popolari.</p>
                        <br>
                    </li>
                </a>
                <a href="GODOFWAR.html">
                    <li class="adventure-item">
                        <h3>[3] God of War Ragnarok.</h3>
                        <p>Scopri il fantastico mondo di God of War Ragnarok, uno dei giochi di avventura più popolari.</p>
                    </li>
                </a>
            </ul>
    </div>
</body>
</html>