<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Game Blog</title>
    <meta name="description" content="Blog dedicato alle recensioni di videogiochi.">
    <meta name="keywords" content="Beat 'Em Up, videogiochi, recensioni di giochi, notizie sui giochi, guide ai giochi">
    <meta name="author" content="@Seej">

    <!-- WebIcon -->
    <link rel="icon" href="../img/InitPages/BEATEMUP/TitlePage.png" type="image/x-icon">

    <!-- CSS -->
    <link rel="stylesheet" href="../css/indexstyle.css">
    <link rel="stylesheet" href="../css/generalgenderstyle.css">

    <!-- JS -->
    <script src="../js/index.js" defer></script>
</head>

<body>      
    <!-- LATERAL MENU -->
    <div id="lateral-menu" style="float: left; margin-right: 2vw;">        
        <button id="menu-toggle"><strong>></strong></button>
        <nav id="nav-menu">
            <p style="top:12px; left:5%; overflow: hidden; font-size: larger; position: absolute; color: white; pointer-events: none;">MENU</p>
            <ul id="nav-menu-list">
                <!-- LATERAL MENU NAV -->
                <li id="nav-menu-list"><a href="index.html">Home</a></li>
                <li id="nav-menu-list"><a href="#introduction">Introduction</a></li>
                <li id="nav-menu-list"><a href="#earlydays">Early Days</a></li>
                <li id="nav-menu-list"><a href="#risebeat">The Rise of the Beat 'Em Up Genre</a></li>
                <li id="nav-menu-list"><a href="#iconicgames">Beat 'Em Up Time Line</a></li>
                <li id="nav-menu-list"><a href="#list">List Beat 'Em Up Games</a></li>
                <li id="nav-menu-list"><a href="#About">About</a></li>
            </ul>
        </nav>        
    </div> 
    
    <!-- THE INTRO -->
    <div id="introduction" style="border-bottom: 1px solid white; padding-bottom: 320px;">
            <h1 class="header">Beat 'Em Up Games</h1>
                <h2>Introduction</h2>
                <br><br>
                <img src="../img/InitPages/BEATEMUP/001.jpg" alt="Beat 'Em Up Image" style="float: right; margin-left: 100px; margin-bottom: 15px; width: 250px; height: auto; border-radius: 10px;">
            <p>
                I giochi Beat 'Em Up, noti anche come picchiaduro a scorrimento, sono caratterizzati da combattimenti contro ondate di nemici in ambienti di gioco variabili. 
                Il genere è stato molto popolare negli anni '80 e '90, offrendo ai giocatori la possibilità di affrontare avversari utilizzando una varietà di mosse e tecniche. 
                Dai loro inizi nelle sale giochi, i giochi Beat 'Em Up si sono evoluti, introducendo storie più complesse e gameplay più sofisticato.
            </p>
    </div>

    <!-- THE EARLY DAYS -->
    <div id="earlydays" style="border-bottom: 1px solid white; padding-bottom: 320px;">
        <h1 class="header" style="margin-top: 70px;"></h1>
            <h2>The Early Days</h2>
            <br><br>

            <img src="../img/InitPages/BEATEMUP//002.jpg" alt="Beat 'Em Up Image" style="float: right; margin-left: 20px; margin-bottom: 15px; width: 150px; height: auto; border-radius: 10px;">
    
            <!-- Second Image -->
            <img src="../img/InitPages/BEATEMUP/003.jpg" alt="Beat 'Em Up Image" style="float: right; margin-left: 20px; margin-bottom: 15px; width: 150px; height: auto; border-radius: 10px;">
            
            <!-- Third Image -->
            <img src="../img/InitPages/BEATEMUP/004.jpg" alt="Beat 'Em Up Image" style="float: right; margin-left: 20px; margin-bottom: 15px; width: 150px; height: auto; border-radius: 10px; margin-top: 11%; margin-right: -17%">
            
        <p style="width: auto;">
            Le origini dei giochi Beat 'Em Up possono essere fatte risalire agli anni '80. Uno dei primi esempi è "Kung-Fu Master" (1984),
            sviluppato da Irem, che presentava combattimenti contro una serie di nemici in livelli lineari. Un altro titolo precoce è "Double Dragon" (1987),
            che ha introdotto il multiplayer cooperativo nel genere.
            <br><br><br>
            Tuttavia, è stato negli anni '90 che i giochi Beat 'Em Up hanno raggiunto il loro picco di popolarità. 
            L'uscita di "Final Fight" nel 1989 e di "Streets of Rage" nel 1991, rispettivamente sviluppati da Capcom e Sega, 
            hanno stabilito nuovi standard per il genere, con grafica avanzata e gameplay coinvolgente.
        </p>
        
    </div>

    <!-- THE RISE OF BEAT EM UP -->
    <div id="risefps" style="border-bottom: 1px solid white; padding-bottom: 320px;">
        <h1 class="header" style="margin-top: 70px;"></h1>
            <h2>The Rise of the Beat 'Em Up Genre</h2>
            <br><br>

            <img src="../img/InitPages/BEATEMUP/006.jpg" alt="Beat 'Em Up Image" style="float: right; margin-left: 20px; margin-bottom: 15px; width: 250px; height: auto; border-radius: 10px;">
    
            <!-- Second Image -->
            <img src="../img/InitPages/BEATEMUP/005.jpg" alt="Beat 'Em Up Image" style="float: right; margin-left: 20px; margin-bottom: 15px; width: 250px; height: auto; border-radius: 10px;">
            
        <p style="width: auto;">
            Dopo il successo di "Final Fight" e "Streets of Rage",
            Capcom rilasciò "Cadillacs and Dinosaurs" nel 1993, che divenne un fenomeno culturale.
            "Cadillacs and Dinosaurs" presentava grafica avanzata, gameplay immersivo,
            e capacità di cooperazione che permettevano ai giocatori di combattere insieme contro orde di nemici.
            Il successo del gioco aiutò a stabilire il Beat 'Em Up come un genere importante nell'industria dei videogiochi.
            <br><br><br>
            Un'altra pietra miliare significativa fu l'uscita di "Guardian Heroes" nel 1996,
            sviluppato da Treasure per il Sega Saturn. "Guardian Heroes" fu uno dei primi giochi di Beat 'Em Up a presentare elementi RPG,
            nonché una narrazione complessa e coinvolgente. Il gameplay veloce e competitivo del gioco gettò le basi per la nascente scena degli eSports.
        </p>
        
    </div>

    <!-- THE ICONIC BEAT EM UP GAMES OF 1990s - 2000s -->
    <div id="iconicgames" style="border-bottom: 1px solid white; padding-bottom: 320px;">
        <h1 class="header" style="margin-top: 70px;"></h1>
            <h2>The Beat 'Em Up Time Line</h2>
            <br><br>

        <!-- Timeline Container -->
        <div class="timeline">
            <div class="timeline-item">
                <div class="timeline-content">
                    <h3>1987 - Double Dragon</h3>
                    <p>Il gioco che ha popolarizzato il genere Beat 'Em Up.</p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-content">
                    <h3>1989 - Final Fight</h3>
                    <p>Ha stabilito nuovi standard per il genere.</p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-content">
                    <h3>1991 - Streets of Rage</h3>
                    <p>Uno dei migliori giochi Beat 'Em Up per console.</p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-content">
                    <h3>1993 - Cadillacs and Dinosaurs</h3>
                    <p>Ha rivoluzionato la grafica e il gameplay immersivo.</p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-content">
                    <h3>1996 - Guardian Heroes</h3>
                    <p>Ha introdotto elementi RPG nel genere Beat 'Em Up.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- THE LIST OF BEAT EM UP GAMES -->
    <div id="list" style="border-bottom: 1px solid white; padding-bottom: 70px;">
        <h1 class="header" style="margin-top: 70px;"></h1>
            <h2>List of Beat 'Em Up Games</h2>
            <br><br>
            <ul class="beat-list">
                <a href="STREETFIGHTER.html">                    
                    <li class="adventure-item">
                        <h3>[1] Street Fighter.</h3>
                        <p>Scopri il fantastico mondo di Street Fighter, uno dei giochi di avventura più popolari.</p>
                        <br>
                    </li>
                </a>
                <a href="TEKKEN.html">
                    <li class="adventure-item">
                        <h3>[2] Tekken 1.</h3>
                        <p>Scopri il fantastico mondo di Tekken 1, uno dei giochi di avventura più popolari.</p>
                        <br>
                    </li>
                </a>
                <a href="MORTALKOMBAT.html">
                    <li class="adventure-item">
                        <h3>[3] Mortal Kombat 1.</h3>
                        <p>Scopri il fantastico mondo di Mortal Kombat 1, uno dei giochi di avventura più popolari.</p>
                    </li>
                </a>
            </ul>
    </div>
</body>
</html>