<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goat Simulator 3</title>
    <meta name="description" content="Blog dedicated to video game reviews.">
    <meta name="keywords" content="video games, game reviews, gaming news, game guides">
    <meta name="author" content="@Luca">

    <!-- WebIcon -->
    <link rel="icon" href="../ico/GS3.png" type="image/x-icon">

    <!-- CSS -->
    <link rel="stylesheet" href="../css/styleGS3.css">

    <!-- JS -->
    <script src="../js/index.js" defer></script>
</head>

<body>      
    <!-- LATERAL MENU -->
    <div id="lateral-menu" style="float: left; margin-right: 1vw;">        
        <button id="menu-toggle"><strong>></strong></button>
        <nav id="nav-menu">
            <p style="top:12px; left:5%; overflow: hidden; font-size: larger; position: absolute; color: white; pointer-events: none;">MENU</p>
            <ul id="nav-menu-list">
                <!-- LATERAL MENU NAV -->
                <li id="nav-menu-list"><a href="#Home">Home</a></li>
                <li id="nav-menu-list"><a href="#Topics">Genders</a></li>
                <li id="nav-menu-list"><a href="#About">About</a></li>
            </ul>
        </nav>        
    </div>

    <h1 style="color:lime; text-align:center; font-size:50px; ">Goat Simulator 3</h1>
    <br>
    <div style="color:white; font-size:20px; position:absolute; left:40px;">Goat Simulator 3 è un videogioco d'azione e il sequel di Goat Simulator. Il gioco è stato annunciato da Coffee Stain Studios durante il Summer Game Fest ed è stato rilasciato il 17 novembre 2022. Il gioco presenta una modalità cooperativa per quattro giocatori ed è ambientato sull'isola immaginaria di San Angora. Il gioco non include il multiplayer multipiattaforma al momento del rilascio.
    <br>
    <br>
    <div style="color:white; font-size:20px; position:absolute; left:40px; top:150px;">
        <b><h2 style="color:lime;">Capre utilizzabili:</h2></b>
        <ol type="1" style="left:50px; top:40px">
            <li style="margin-left: 90px;">Pilgor: una capra normale, come abilità speciale se si tiene premuto per abbastanza tempo il tasto per colpire fa un'onda energetica;</li>
            <br>
            <li style="margin-left: 90px;">Capra Deliziosa: un maiale, come abilità speciale se si preme un tasto si ricopre di grasso e scivola per lunghe distanze;</li>
            <br>
            <li style="margin-left: 90px;">Capra Alta: una giraffa; citando il gioco "Una normale capra, ma alta", nessuna abilità speciale;</li>
            <br>
            <li style="margin-left: 90px;">Capra Arrabbiata: un rinoceronte, come abilità speciale se si fa uno sprint si potrebbero causare una devastazione totale;</li>
            <br>
            <li style="margin-left: 90px;">Capra Piumata: uno struzzo, come abilotà speciale se quando cadi si preme ripetutamente il tasto del salto si inizia a planare;</li>
            <br>
            <li style="margin-left: 90px;">Steve: un pesce rosso, citando il gioco "Steve è stato salvato, ma adesso non ha molto da vivere...", nessuna abilità speciale;</li>
            <br>
            <li style="margin-left: 90px;">Capra Erecta: un essere umano, molto simile a Gesù. Come abilità speciale può trasformarsi in un npc a caso;</li>
            <br>
            <li style="margin-left: 90px;">Spaventapasseri: uno spaventapasseri, citando il gioco "Strappa la mia paglia", nessuna abilità speciale;</li>
            <br>
            <li style="margin-left: 90px;">Abominana: una banana mutante che cammina su due zampe, come abilità speciale può lanciare delle banane che trasformano altri npc in Abominane;</li>
            <br>
            <li style="margin-left: 90px;">Il Contadino: un essere umano e boss finale del gioco, come abilità speciale può creare dei blocchi con diverse forme;</li>
            <br>
            <li style="margin-left: 90px;">Pilgor Originale: una capra normale, la Pilgor ma del 2014 (Da Goat Simulator);</li>
            <br>
            <li style="margin-left: 90px;">Tony Shark: uno squalo martello che gira su uno skateboard, citando il gioco "Ti servirà una tavola più grande", nessuna abilità speciale;</li>
            <br>
            <li style="margin-left: 90px;">Capra da gioco da tavola: una pecora, citando il gioco "Era smarrito, ma è stato ritrovato", nessuna abilità speciale;</li>
            <br>
            <li style="margin-left: 90px;">Personaggio non giocante: un essere umano, citando il gioco "Gioca nei panni del tuo sviluppatore preferito", come abilità speciale inizia la musica di Goat Simulator.</li>
            <br>
        </ol>
    </div>
    
    <div style="color:white; font-size:20px; position:absolute; left:40px; top:850px;">
        <b><h2 style="color:lime;">Trama:</h2></b> Inesistente, lo scopo è andare in giro a far casino, completare missioni per far salire di livello il tuo Caprastello e aggiungere decorazioni e infine sconfiggiere il contadino.
    </div>
    <br>
    <div style="color:lime; font-size:20px; position:absolute; left:40px; top:920px;">
        <h3>Per altre informazioni puoi visitare il seguente link:</h3><a href="https://goatsimulator.fandom.com/wiki/Goat_Simulator_3">Wiki</a>
    </div>   
</body>
</html>