<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hollow Knight</title>
    <meta name="description" content="Blog dedicated to video game reviews.">
    <meta name="keywords" content="video games, game reviews, gaming news, game guides">
    <meta name="author" content="@Luca">

    <!-- WebIcon -->
    <link rel="icon" href="../ico/HollowKnight.png" type="image/x-icon">

    <!-- CSS -->
    <link rel="stylesheet" href="../css/styleHollowKnight.css">

    <!-- JS -->
    <script src="../js/index.js" defer></script>
</head>

<body>      
    <!-- LATERAL MENU -->
    <div id="lateral-menu" style="float: left; margin-right: 1vw;">        
        <button id="menu-toggle"><strong>></strong></button>
        <nav id="nav-menu">
            <p style="top:12px; left:5%; overflow: hidden; font-size: larger; position: absolute; color: white; pointer-events: none;">MENU</p>
            <ul id="nav-menu-list">
                <!-- LATERAL MENU NAV -->
                <li id="nav-menu-list"><a href="#Home">Home</a></li>
                <li id="nav-menu-list"><a href="#Topics">Genders</a></li>
                <li id="nav-menu-list"><a href="#About">About</a></li>
            </ul>
        </nav>        
    </div>


    
</body>
</html>