<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Game Blog</title>
    <meta name="description" content="Blog dedicated to video game reviews.">
    <meta name="keywords" content="video games, game reviews, gaming news, game guides">
    <meta name="author" content="@Seej">

    <!-- WebIcon -->
    <link rel="icon" href="../ico/TitlePage.png" type="image/x-icon">

    <!-- CSS -->
    <link rel="stylesheet" href="../css/indexstyle.css">

    <!-- JS -->
    <script src="../js/index.js" defer></script>
</head>

<body>      
    <!-- LATERAL MENU -->
    <div id="lateral-menu" style="float: left; margin-right: 1vw;">        
        <button id="menu-toggle"><strong>></strong></button>
        <nav id="nav-menu">
            <p style="top:12px; left:5%; overflow: hidden; font-size: larger; position: absolute; color: white; pointer-events: none;">MENU</p>
            <ul id="nav-menu-list">
                <!-- LATERAL MENU NAV -->
                <li id="nav-menu-list"><a href="#Home">Home</a></li>
                <li id="nav-menu-list"><a href="#Topics">Genders</a></li>

                <li id="nav-menu-list"><a href="About.html">About</a></li>

            </ul>
        </nav>        
    </div> 
    

    <div id="Home" style="align-items: center; justify-content: center;">
        <!--- Header --->        
        <div class="header">

            <h1 class="header" style="margin-left: -1.5%;">Best Game Ever</h1>
        </div>
        
        <!--- Large Container --->
        <div class="large-container" style="margin-left: 2%; margin-bottom: 20vh;">
             <!-- Previous Slide Button -->
             <button id="prev-slide" ><</button>
             <!-- Next Slide Button -->
             <button id="next-slide">></button>


            <div class="slideshow">

                <div class="slide">
                     <!-- NEW -->
                    <img src="../img/RDR2.jpeg" alt="RDR2">
                    <!-- OLD -->
                    <a href="" class="custom-link" style="display: none; padding: 20px 25px; bottom: 30%; right: 10%;">ABOUT RED DEAD REDEMPTION II</a>
                </div>
                <div class="slide">
                     <!-- NEW -->
                    <img src="../img/SMB.jpeg" alt="Image 2">
                    <!-- OLD -->
                    <a href="" class="custom-link" style="display: none; padding: 20px 25px; bottom: 30%; right: 10%;">ABOUT SUPER MARIO BROS</a>
                </div>
                <div class="slide">
                     <!-- NEW -->
                    <img src="../img/OLT.jpeg" alt="Image 3">
                    <!-- OLD -->
                    <a href="" class="custom-link" style="display: none; padding: 20px 25px; bottom: 30%; right: 10%;">ABOUT OUT LAST</a>
                </div>
                <div class="slide">
                     <!-- NEW -->
                    <img src="../img/MCF.jpeg" alt="Image 4">
                    <!-- OLD -->
                    <a href="" class="custom-link" style="display: none; padding: 20px 25px; bottom: 30%; right: 10%;">ABOUT MINECRAFT</a>
                </div>
                <div class="slide">
                     <!-- NEW -->
                    <img src="../img/CSG.jpeg" alt="Image 5">
                    <!-- OLD -->
                    <a href="" class="custom-link" style="display: none; padding: 20px 25px; bottom: 30%; right: 10%;">ABOUT COUNTER STRIKE GLOBAL OFFENSIVE</a>
                </div>
                <div class="slide">
                     <!-- NEW -->
                    <img src="../img/STF.jpeg" alt="Image 6">
                    <!-- OLD -->
                    <a href="" class="custom-link" style="display: none; padding: 20px 25px; bottom: 30%; right: 10%;">ABOUT STREET FIGHTER</a>
                </div>
                <div class="slide">
                    <!-- NEW -->
                    <a href=""><img src="../img/TMB.jpeg" alt="Image 7"></a>
                    <!-- OLD -->

                    <a href="" class="custom-link" style="display: none; padding: 20px 25px; bottom: 30%; right: 10%;">ABOUT TOMB RAIDER</a>
                </div>
            </div>
        </div>


        <div class="header">
            <h1 class="header" style="margin-left: -1.5%; ">Speacial Topic</h1>
        </div>

        <!--- Medium Container --->
        <div class="medium-container" id="medium-container-1" style="height: 50vh;">
            <div class="imgshow">
                <div class="slide">
                   <a href=""><img src="../img/TGA.jpg" alt="Game Awards"></a>
                </div>
            </div>
        </div>
        <!--- Medium Container --->
        <div class="medium-container" id="medium-container-2" style="height: 50vh;">
            <div class="imgshow">
                <div class="slide">
                   <a href="console.html"><img src="../img/InitPages/console/console.png" alt="Console"></a>
                </div>
            </div>
        </div>
        <!--- Header --->        
        
    </div>

    <div id="Topics" style=" margin-top: 20vh;">
        <div class="header">
            <h1 class="header" style="margin-left: -1.5%;">Genders</h1>
        </div>
        <!--- Small Container --->
        <a href="FPS.html" class="small-container" style="margin-left: 5.5%;">
            <h1>FPS</h1>
        </a>
        <a href="HORROR.html" class="small-container">
            <h1>HORROR</h1>
        </a>
        <a href="SANDBOX.html" class="small-container">
            <h1>SANDBOX</h1>
        </a>
        <a href="BEATEMUP.html" class="small-container">
            <h1>BEAT EM UP</h1>
        </a>
        <a href="ADVENTURE.html" class="small-container" style="margin-left: 16.5%;">
            <h1>ADVENTURE</h1>
        </a>
        <a href="PLATFORM.html" class="small-container">
            <h1>PLATFORM</h1>
        </a>
        <a href="OPENWORLD.html" class="small-container">
            <h1>OPEN WORLD</h1>
        </a>
    </div>

</body>
</html>