<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Game Blog</title>
    <meta name="description" content="Blog dedicato alle recensioni di videogiochi.">
    <meta name="keywords" content="Open World, videogiochi, recensioni di giochi, notizie sui giochi, guide ai giochi">
    <meta name="author" content="@Seej">

    <!-- WebIcon -->
    <link rel="icon" href="../img/InitPages/OPENWORLD/pagina.jpg" type="image/x-icon">

    <!-- CSS -->
    <link rel="stylesheet" href="../css/indexstyle.css">
    <link rel="stylesheet" href="../css/generalgenderstyle.css">

    <!-- JS -->
    <script src="../js/index.js" defer></script>
</head>

<body>      
    <!-- LATERAL MENU -->
    <div id="lateral-menu" style="float: left; margin-right: 2vw;">        
        <button id="menu-toggle"><strong>></strong></button>
        <nav id="nav-menu">
            <p style="top:12px; left:5%; overflow: hidden; font-size: larger; position: absolute; color: white; pointer-events: none;">MENU</p>
            <ul id="nav-menu-list">
                <!-- LATERAL MENU NAV -->
                <li id="nav-menu-list"><a href="index.html">Home</a></li>
                <li id="nav-menu-list"><a href="#introduction">Introduction</a></li>
                <li id="nav-menu-list"><a href="#earlydays">Early Days</a></li>
                <li id="nav-menu-list"><a href="#riseopenworld">The Rise of the Open World Genre</a></li>
                <li id="nav-menu-list"><a href="#iconicgames">Open World Time Line</a></li>
                <li id="nav-menu-list"><a href="#list">List Open World Games</a></li>
                <li id="nav-menu-list"><a href="#About">About</a></li>
            </ul>
        </nav>        
    </div> 
    
    <!-- THE INTRO -->
    <div id="introduction" style="border-bottom: 1px solid white; padding-bottom: 320px;">
            <h1 class="header">Open World Games</h1>
                <h2>Introduction</h2>
                <br><br>
                <img src="../img/InitPages/OPENWORLD/001.jpg" alt="Open World Image" style="float: right; margin-left: 100px; margin-bottom: 15px; width: 250px; height: auto; border-radius: 10px;">
            <p>
                I giochi open world offrono ai giocatori la libertà di esplorare vasti ambienti virtuali, spesso senza seguire un percorso prestabilito. 
                Questo genere è noto per le sue ambientazioni immersive, le storie avvincenti e la possibilità di intraprendere missioni secondarie e attività parallele. 
                Dalla loro nascita, i giochi open world hanno catturato l'immaginazione dei giocatori di tutto il mondo, spingendo i confini della creatività e della tecnologia nel gaming.
            </p>
    </div>

    <!-- THE EARLY DAYS -->
    <div id="earlydays" style="border-bottom: 1px solid white; padding-bottom: 320px;">
        <h1 class="header" style="margin-top: 70px;"></h1>
            <h2>The Early Days</h2>
            <br><br>

            <img src="../img/InitPages/OPENWORLD/002.jpg" alt="Open World Image" style="float: right; margin-left: 20px; margin-bottom: 15px; width: 150px; height: auto; border-radius: 10px;">
    
            <!-- Second Image -->
            <img src="../img/InitPages/OPENWORLD/003.jpg" alt="Open World Image" style="float: right; margin-left: 20px; margin-bottom: 15px; width: 150px; height: auto; border-radius: 10px;">
            
            <!-- Third Image -->
            <img src="../img/InitPages/OPENWORLD/004.jpg" alt="Open World Image" style="float: right; margin-left: 20px; margin-bottom: 15px; width: 150px; height: auto; border-radius: 10px; margin-top: 11%; margin-right: -17%">
            
        <p style="width: auto;">
            Le origini dei giochi open world risalgono agli anni '80. Uno dei primi esempi è "Ultima I: The First Age of Darkness" (1981),
            un gioco di ruolo che permetteva ai giocatori di esplorare liberamente un mondo virtuale. Un altro titolo precoce è "Elite" (1984),
            un simulatore di commercio spaziale che offriva un universo aperto da esplorare.
            <br><br><br>
            Tuttavia, è stato negli anni '90 che i giochi open world hanno iniziato a guadagnare popolarità su larga scala.
            Il rilascio di "The Legend of Zelda: Ocarina of Time" nel 1998 ha segnato una pietra miliare, offrendo un mondo ampio e interattivo che i giocatori potevano esplorare liberamente.
        </p>
        
    </div>

    <!-- THE RISE OF OPEN WORLD -->
    <div id="risefps" style="border-bottom: 1px solid white; padding-bottom: 320px;">
        <h1 class="header" style="margin-top: 70px;"></h1>
            <h2>The Rise of the Open World Genre</h2>
            <br><br>

            <img src="../img/InitPages/OPENWORLD/006.jpg" alt="Open World Image" style="float: right; margin-left: 20px; margin-bottom: 15px; width: 250px; height: auto; border-radius: 10px;">
    
            <!-- Second Image -->
            <img src="../img/InitPages/OPENWORLD/005.jpg" alt="Open World Image" style="float: right; margin-left: 20px; margin-bottom: 15px; width: 250px; height: auto; border-radius: 10px;">
            
        <p style="width: auto;">
            Dopo il successo di "The Legend of Zelda: Ocarina of Time",
            Rockstar Games rilasciò "Grand Theft Auto III" nel 2001, che divenne un fenomeno culturale.
            "Grand Theft Auto III" offriva una città completamente esplorabile, missioni aperte e una libertà di azione senza precedenti.
            Il successo del gioco contribuì a consolidare il genere open world come un pilastro dell'industria dei videogiochi.
            <br><br><br>
            Un altro traguardo significativo fu l'uscita di "The Elder Scrolls V: Skyrim" nel 2011,
            sviluppato da Bethesda Game Studios. "Skyrim" offriva un mondo vasto e dettagliato,
            pieno di storie coinvolgenti, missioni secondarie e la possibilità di esplorare liberamente. Il gameplay ricco e immersivo del gioco gettò le basi per la moderna esperienza open world.
        </p>
        
    </div>

    <!-- THE ICONIC OPEN WORLD GAMES OF 1990s - 2000s -->
    <div id="iconicgames" style="border-bottom: 1px solid white; padding-bottom: 320px;">
        <h1 class="header" style="margin-top: 70px;"></h1>
            <h2>The Open World Time Line</h2>
            <br><br>

        <!-- Timeline Container -->
        <div class="timeline">
            <div class="timeline-item">
                <div class="timeline-content">
                    <h3>1981 - Ultima I</h3>
                    <p>Uno dei primi giochi open world.</p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-content">
                    <h3>1984 - Elite</h3>
                    <p>Un pioniere nel genere open world spaziale.</p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-content">
                    <h3>1998 - The Legend of Zelda: Ocarina of Time</h3>
                    <p>Ha stabilito nuovi standard per i giochi open world.</p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-content">
                    <h3>2001 - Grand Theft Auto III</h3>
                    <p>Ha rivoluzionato il concetto di città esplorabile.</p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-content">
                    <h3>2011 - The Elder Scrolls V: Skyrim</h3>
                    <p>Ha definito l'esperienza moderna dei giochi open world.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- THE LIST OF OPEN WORLD GAMES -->
    <div id="list" style="border-bottom: 1px solid white; padding-bottom: 70px;">
        <h1 class="header" style="margin-top: 70px;"></h1>
            <h2>List of Open World Games</h2>
            <br><br>
            <ul class="openworld-list">
                <a href="">                    
                    <li class="adventure-item">
                        <h3>[1] GTA san Andreas.</h3>
                        <p>Scopri il fantastico mondo di GTA san Andreas, uno dei giochi di avventura più popolari.</p>
                        <br>
                    </li>
                </a>
                <a href="">
                    <li class="adventure-item">
                        <h3>[2] Red Dead Redemption 2.</h3>
                        <p>Scopri il fantastico mondo di Red Dead Redemption 2, uno dei giochi di avventura più popolari.</p>
                        <br>
                    </li>
                </a>
                <a href="">
                    <li class="adventure-item">
                        <h3>[3] Elder Ring.</h3>
                        <p>Scopri il fantastico mondo di Elder Ring, uno dei giochi di avventura più popolari.</p>
                    </li>
                </a>
            </ul>
    </div>
</body>
</html>