<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Game Blog</title>
    <meta name="description" content="Blog dedicated to video game reviews.">
    <meta name="keywords" content="SANDBOX, video games, game reviews, gaming news, game guides">
    <meta name="author" content="@Rovea">

    <!-- WebIcon -->
    <link rel="icon" href="../ico/TitlePage.png" type="image/x-icon">

    <!-- CSS -->
    <link rel="stylesheet" href="../css/indexstyle.css">
    <link rel="stylesheet" href="../css/generalgenderstyle.css">

    <!-- JS -->
    <script src="../js/index.js" defer></script>
</head>

<body>      
    <!-- LATERAL MENU -->
    <div id="lateral-menu" style="float: left; margin-right: 2vw;">        
        <button id="menu-toggle"><strong>></strong></button>
        <nav id="nav-menu">
            <p style="top:12px; left:5%; overflow: hidden; font-size: larger; position: absolute; color: white; pointer-events: none;">MENU</p>
            <ul id="nav-menu-list">
                <!-- LATERAL MENU NAV -->
                <li id="nav-menu-list"><a href="index.html">Home</a></li>
                <li id="nav-menu-list"><a href="#introduction">Introduction</a></li>
                <li id="nav-menu-list"><a href="#earlydays">Early Days</a></li>
                <li id="nav-menu-list"><a href="#risefps">The Rise of the SANDBOX</a></li>
                <li id="nav-menu-list"><a href="#iconicgames">SANDBOX Time Line</a></li>
                <li id="nav-menu-list"><a href="#list">List SANDBOX Games</a></li>
                <li id="nav-menu-list"><a href="#About">About</a></li>
            </ul>
        </nav>        
    </div> 
    
    <!-- THE INTRO -->
    <div id="introduction" style="border-bottom: 1px solid white; padding-bottom: 320px;">
            <h1 class="header">SandBox</h1>
                <h2>Introduction</h2>
                <br><br>
                <img src="../img/InitPages/SANDBOX/001.jpg" alt="SANDBOX Image" style="float: right; margin-left: 100px; margin-bottom: 15px; width: 250px; height: auto; border-radius: 10px;">
            <p>
                Open-world sandbox games represent a dynamic and expansive genre within the realm of video gaming. Renowned for their vast, <br>
                open-ended environments and unparalleled player freedom, sandbox games offer a unique blend of exploration, creativity, and emergent gameplay. 
                Players are thrust into richly detailed virtual worlds where they have the freedom to carve their own path, shaping the environment <br> and narrative
                according to their whims. From building sprawling metropolises to embarking on epic adventures across uncharted territories, <br>
                sandbox games deliver a level of immersion and agency unparalleled in other genres. Over the years, this genre has evolved significantly, <br>
                with seminal titles like Minecraft and Grand Theft Auto redefining player expectations and pushing the boundaries of what is possible in virtual 
                worlds.
            </p>
    </div>

    <!-- THE EARLY DAYS -->
    <div id="earlydays" style="border-bottom: 1px solid white; padding-bottom: 320px;">
        <h1 class="header" style="margin-top: 70px;"></h1>
            <h2>The Early Days</h2>
            <br><br>

            <img src="../img/InitPages/SANDBOX/002.jpg" alt="SANDBOX Image" style="float: right; margin-left: 20px; margin-bottom: 15px; width: 150px; height: auto; border-radius: 10px;">
    
            <!-- Second Image -->
            <img src="../img/InitPages/SANDBOX/003.jpg" alt="SANDBOX Image" style="float: right; margin-left: 20px; margin-bottom: 15px; width: 150px; height: auto; border-radius: 10px;">
            
            <!-- Third Image -->
            <img src="../img/InitPages/SANDBOX/004.jpg" alt="SANDBOX Image" style="float: right; margin-left: 20px; margin-bottom: 15px; width: 150px; height: auto; border-radius: 10px; margin-top: 11%; margin-right: -17%">
            
        <p style="width: auto;">
            The origins of sandbox games can be traced back to the early days of video gaming, primarily in the 1980s and 1990s. Games like <br> "Ultima" 
            and "Elite" laid the groundwork for open-world exploration and player freedom. However, it wasn't until the release of "SimCity" <br> in 1989 
            that the genre gained significant recognition. "SimCity" allowed players to build and manage their own virtual cities, setting the <br> stage for 
            the emergence of sandbox gaming.
            <br><br><br>
            Another pivotal moment in the genre's history came with the release of "Minecraft" in 2011. Developed by Mojang Studios, "Minecraft" <br> revolutionized
            sandbox gaming with its procedurally generated worlds and emphasis on player creativity. Since then, sandbox games <br> have evolved to encompass a wide
            range of experiences, from expansive open-world adventures to creative building and survival simulations.
        </p>
        
    </div>

    <!-- THE RISE OF SANDBOX-->
    <div id="risefps" style="border-bottom: 1px solid white; padding-bottom: 320px;">
        <h1 class="header" style="margin-top: 70px;"></h1>
            <h2>The Rise of the SANDBOX Genre</h2>
            <br><br>

            <img src="../img/InitPages/SANDBOX/006.jpg" alt="SANDBOX Image" style="float: right; margin-left: 20px; margin-bottom: 15px; width: 250px; height: auto; border-radius: 10px;">
    
            <!-- Second Image -->
            <img src="../img/InitPages/SANDBOX/005.jpg" alt="SANDBOX Image" style="float: right; margin-left: 20px; margin-bottom: 15px; width: 250px; height: auto; border-radius: 10px;">
            
        <p style="width: auto;">
            One such moment was the release of "Minecraft" in 2011. Its open-world sandbox design allowed players <br> to build, explore, 
            and survive in procedurally generated worlds, sparking a global phenomenon.
            <br><br><br>
            Similarly, "Grand Theft Auto III" (2001) set a new standard for sandbox gaming with its expansive, nonlinear <br> gameplay and immersive narrative, 
            inspiring a wave of open-world titles. Recent entries like <br> "The Elder Scrolls V: Skyrim" (2011) and "The Legend of Zelda: Breath of the Wild" 
            (2017) continue to push <br> the boundaries of open-world exploration and player agency.
        </p>
        
    </div>

    <!-- THE ICON SANDBOX GAMES OF 1990s - 2020s -->
    <div id="iconicgames" style="border-bottom: 1px solid white; padding-bottom: 320px;">
        <h1 class="header" style="margin-top: 70px;"></h1>
            <h2>The SANDBOX Time Line</h2>
            <br><br>

        <!-- Timeline Container -->
        <div class="timeline">
            <!-- START -->
            <!-- ITEM -->
            <div class="timeline-item">
                <div class="timeline-content">
                    <h3>2009 - Minecraft</h3>
                    <p>Revolutionary sandbox game with limitless creativity.</p>
                </div>
            </div>
            <!-- ITEM -->
            <div class="timeline-item">
                <div class="timeline-content">
                    <h3>2011 - Terraria</h3>
                    <p>2D sandbox adventure with exploration and building.</p>
                </div>
            </div>
            <!-- ITEM -->
            <div class="timeline-item">
                <div class="timeline-content">
                    <h3>2017 - Stardew Valley</h3>
                    <p>Charming sandbox farming sim with rich gameplay.</p>
                </div>
            </div>
            <!-- ITEM -->
            <div class="timeline-item">
                <div class="timeline-content">
                    <h3>2020 - Animal Crossing: New Horizons</h3>
                    <p>Relaxing sandbox life simulation game on a deserted island.</p>
                </div>
            </div>
            <!-- ITEM -->
            <div class="timeline-item">
                <div class="timeline-content">
                    <h3>2022 - Goat Simulator 3</h3>
                    <p>Unique sandbox experience with humorous gameplay.</p>
                </div>
            </div>
            
        </div>
    </div>
    <!-- THE LIST OF SANDBOX GAMES -->
    <div id="list" style="border-bottom: 1px solid white; padding-bottom: 70px;">
        <h1 class="header" style="margin-top: 70px;"></h1>
            <h2>List of SANDBOX Games</h2>
            <br><br>
            <ul class="sandbox-list">
                <a href="minecraft.html">                    
                    <li class="fps-item">
                        <h3>1. Minecraft</h3>
                        <p>Revolutionary sandbox game with limitless creativity.</p>
                    </li>
                </a>
                <a href="outlast.html">                    
                    <li class="fps-item">
                        <h3>2. Goat Simulator 3</h3>
                        <p>Unique sandbox experience with humorous gameplay.</p>
                    </li>
                </a>
            </ul>
    </div>
</body>
</html>