<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Security Breach</title>
    <meta name="description" content="Blog dedicated to video game reviews.">
    <meta name="keywords" content="video games, game reviews, gaming news, game guides">
    <meta name="author" content="@Luca">

    <!-- WebIcon -->
    <link rel="icon" href="../ico/SecurityBreach.jpg" type="image/x-icon">

    <!-- CSS -->
    <link rel="stylesheet" href="../css/indexstyle.css">

    <!-- JS -->
    <script src="../js/index.js" defer></script>
</head>

<body>      
    <!-- LATERAL MENU -->
    <div id="lateral-menu" style="float: left; margin-right: 1vw;">        
        <button id="menu-toggle"><strong>></strong></button>
        <nav id="nav-menu">
            <p style="top:12px; left:5%; overflow: hidden; font-size: larger; position: absolute; color: white; pointer-events: none;">MENU</p>
            <ul id="nav-menu-list">
                <!-- LATERAL MENU NAV -->
                <li id="nav-menu-list"><a href="#Home">Home</a></li>
                <li id="nav-menu-list"><a href="#Topics">Genders</a></li>
                <li id="nav-menu-list"><a href="#About">About</a></li>
            </ul>
        </nav>        
    </div> 
    
    <h1 style="color:red; text-align:center; font-size:50px; ">Five Nights At Freddy's: Security Breach</h1>
    <br>
    <div style="color:white; font-size:20px; position:absolute; left:40px;"> Five Nights at Freddy's: Security Breach è un videogioco survival horror del 2021 sviluppato da Steel Wool 
        Studios e pubblicato da ScottGames. È il nono capitolo principale della serie Five Nights at Freddy's e il tredicesimo in generale, che si svolge dopo gli eventi di Five Nights at Freddy's: Help Wanted. 
        A differenza degli altri titoli della serie, il gioco prevede solo una notte invece di cinque. Ha ricevuto elogi per la sua grafica, per il gameplay free-roam mai visto prima nel franchise, per la trama e per i suoi elementi horror. 
    </div>
    <br>
    <br>
    <div style="color:white; font-size:20px; position:absolute;  left:40px; top:150px; ">
        <b><h2 style="color:red;">Personaggi:</h2></b>
        <ol type="1" style="left:50px; top:40px"> 
            <li style="margin-left: 100px;">Glamrock Freddy: mi chiamo gigi</li>
        </ol>
    </div>
</body>
</html>